@model IEnumerable<OnlineTicket.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <font size=" 20pt">
        <table>
            <tr>
                <td>First Name</td>
                <td>:</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>:</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
            </tr>
            <tr>
                <td colspan=" 3">@Html.ActionLink("Edit", "Edit", new { email = item.Email })</td>
            </tr>
        </table>
    </font>

}
